{%extends "base.html"%} {%block content%}
<!-- create search bar with bootstrap and use icon-->
<form action="" method="get" class="mt-4" style="width: 15%">
  <div
    class="input-group input-group-sm d-grid gap-2 d-md-flex justify-content-end"
  >
    <input type="text" class="form-control" placeholder="종목 검색" />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">
        <span class="bi bi-search"></span>
      </button>
    </div>
  </div>
</form>

<!-- create news word cloud view-->

    <div class="row mt-3">
        <div class="col-3">
            <form method="get">
                <div class="form-group">
                    <label for="date-picker">Select a date:</label>
                    <input type="date" class="form-control" id="date-picker" name="date" value="{{ date }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
  <div class="col-12">
    <h3>News List</h3>
    <table class="table" style="width:50%">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for news in negative_news %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{{ news.url }}">{{ news.subject }}</a></td>
          <td>{{ news.date }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3">No news for the selected date.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    

{%endblock%}
