{% extends 'base.html' %}
{% load static %}
{% block title %}회원가입{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'accounnt/css/register.css' %}">
{% endblock %}
{% block content %}
 <div class="modal-dialog" role="document" style="width:450px;">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <!-- <h1 class="modal-title fs-5" >Modal title</h1> -->
        <h1 class="fw-bold mb-0 fs-2">환영해요!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> <!--닫기버튼-->
      </div>

      <div class="modal-body p-5 pt-0">
        <form method="post" class="">
            {% csrf_token %} <!--보안토큰-->
            {% include "form_errors.html" %} <!--에러메세지-->


          <div class="form-floating mb-3"> <!--이메일-->
            <input type="email" class="form-control rounded-3" id="{{ form.email.id_for_label }}" placeholder="name@example.com" name="{{ form.email.name }}" value="{{ form.email.value|default:'' }}" required>
            <label for="{{ form.email.id_for_label }}">Email</label>
          </div>
          <div class="form-floating mb-3"> <!--비밀번호-->
            <input type="password" class="form-control rounded-3" id="{{ form.password1.id_for_label }}" placeholder="Password" name="{{ form.password1.name }}" value="{{ form.password1.value|default_if_none:'' }}"required>
            <label for="{{ form.password1.id_for_label }}">비밀번호</label>
          </div>
          <div class="form-floating mb-3"> <!--비밀번호 확인-->
            <input type="password" class="form-control rounded-3" id="{{ form.password2.id_for_label }}" placeholder="Password" name="{{ form.password2.name }}" value="{{ form.password2.value|default_if_none:'' }}"required>
            <label for="{{ form.password2.id_for_label }}">비밀번호 확인</label>
          </div>

           
          <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign up</button>
            <p>이미 회원이라면 <a style="color:blue; text-decoration: underline;" href="{% url 'account:login' %}">로그인</a>하세요.</p>
          <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>


        </form>
      </div>
    </div>
  </div>

{% endblock %}