<!-- base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons/font/bootstrap-icons.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <title>EmoNews</title>
</head>
<body>

  <!-- 네비게이션 바 -->
  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'analysis:home' %}" class="nav-link link-dark px-2 active" aria-current="page">EmoNews</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">감성 분석</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">커뮤니티</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">Q&A</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">About</a></li>
      </ul>
      <ul class="nav">
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'account:mypage' %}" class="nav-link link-dark px-2">Mypage</a></li>
        <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link link-dark px-2">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="{% url 'account:register' %}" class="nav-link link-dark px-2">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
<!-- 네비게이션 바 끝-->

<!-- content 여기에 -->
{%block content%}

{%endblock%}
<!-- content 끝-->


<!-- footer 여기에 -->
  <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">&copy; 2017–2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none

</body>
</html>