<!-- base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstrap/bootstrap-icons/font/bootstrap-icons.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="{% static 'css/base.css' %}">

  <title>SentiNews</title>
</head>
<body>

  <!-- 네비게이션 바 -->
  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="{% url 'analysis:home' %}" class="nav-link link-dark px-2 active" aria-current="page">SentiNews</a></li>
        <li class="nav-item"><a href="{% url 'analysis:stocks' %}" class="nav-link link-dark px-2">종목별 감성분석</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">커뮤니티</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">Q&A</a></li>
        <li class="nav-item"><a href="" class="nav-link link-dark px-2">About</a></li>
      </ul>
      <ul class="nav">
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'account:mypage' %}" class="nav-link link-dark px-2">Mypage</a></li>
        <li class="nav-item"><a href="{% url 'account:logout' %}" class="nav-link link-dark px-2">Logout</a></li>
        {% else %}
        <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="{% url 'account:register' %}" class="nav-link link-dark px-2">Sign up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
<!-- 네비게이션 바 끝-->

<!-- content 여기에 -->
{%block content%}

{%endblock%}
<!-- content 끝-->


<!-- footer 여기에 -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">SentiNews</span>
  </div>
</footer>
<!-- footer 끝 -->
</body>
</html>